/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-gen-2015, 11.46.51
    Author     : Riccardo
*/

/*Il colore dello sfondo*/
body{
    background-color: #ddd;
}
/*Usata per spaziare la testata*/
.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
/*Usata per spaziare i bottoni nelle tabelle*/
.ml10 {
    margin-left: 10px !important; 
}

input {
/*  text-transform: uppercase;*/
}